.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    
}
.dash-nav {
    display: flex;
    width: 100%;
    justify-content:stretch;
    align-items: center;
    height: 75px;
    background-color: #141414;
    color: blanchedalmond;
}
.dash-nav-left {
    display: flex;
    width: 80%;
    align-items: center;
}
ul {
    list-style: none;
}
.dash-space {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2%
}
.dash-left {
    display: flex;
    justify-content:center;
    width: 20%
}
.dash-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
ul {
    width: 100%;
    margin-top: 20%;
}
li {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #7c7c7c;
    margin-top: 2%;
    margin-bottom: 2%;
    color: whitesmoke;
}
a {
    color: whitesmoke;
}